.out-error{background:url("../img/error.png") no-repeat; padding: 1px 15px 0 5px;}
.out-right{background:url("../img/right.png") no-repeat; padding: 1px 15px 0 5px;}
.drag{
  	  cursor: pointer;
	  background:url("../img/drag.png"); 
	  background-position: 0px 47px;
	  padding: 7px;
	  margin-right: 8px;
} 
.file{background:#eee;}
.hander{cursor:pointer;}
.new_error{ 
background: #FBE6F2;
border: 1px solid #D893A1;
color: #333;
margin: 10px 0 5px 0;
padding: 10px; 
}
li{list-style:none;}
.margin0{margin-left:0;}
input.watermark {margin-right:10px;margin-bottom:10px;}
.btn a,.label a{color:#fff;}
.form-actions{padding-left: 10px;}
.imagecache_form{margin-left:180px;width:300px; }
.imagecache_form .icon-trash {float:right;}
.flash-message{
	position: fixed;
	top: 0px;
	z-index: 10000;
	margin: 0;
	width: 1119px;
}
#theme div.img-polaroid,#theme img{margin-bottom: 20px;}
#theme p,#theme .btn{
	margin-left: 22px;
}
#theme .btn{
	margin-bottom: 10px;
}
.clear{clear:both;}